<footer class="py-1 bg-white">
  <div class="container text-center bg-white">
    <ul class="nav justify-content-center border-bottom border-primary pb-2 mb-2">
      <li class="nav-item">
        <a href="/about" class="enlace nav-link px-2 enlace ">Sobre nosotros</a>
      </li>
      <li class="nav-item">
        <a href="/terms" class="nav-link px-2 enlace"
          >Terminos y condiciones</a
        >
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link px-2 enlace">Contacto</a>
      </li>
    </ul>
    <p class="text-body-primary fw-bold marca ms-4 mb-2" >© 2024 VoluntApp</p>
  </div>
</footer>
