<footer class="py-1 bg-white" style="height: 80px; width: 100%;">
  <div class="container text-center bg-white">
      <div class="row border-bottom border-primary mb-1 py-1">
      <div class="col">
        <a href="/about" class="enlace nav-link px-2 enlace ">Sobre nosotros</a>
      </div>
      <div class="col">
        <a href="/terms" class="nav-link px-2 enlace"
          >Terminos</a
        >
      </div>
      <div class="col">
        <a href="/contact" class="nav-link px-2 enlace">Contacto</a>
      </div>
    </div>
    <p class="text-body-primary fw-bold mb-2" >© 2024 VoluntApp</p>
  </div>
</footer>
