<nav class="navbar navbar-expand-lg bg-white fixed-top" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    
    <a href="/"
      class="">
      <img src="/assets/banner.png" alt="VoluntApp banner" width="180px" />
    </a>
    
    
    <div class="d-flex gap-3">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    @if (isAdmin === true){
      <div class="dropdown gap-2 profile me-2 ">
        <a href="#" class="d-flex justify-content-center align-items-center gap-1 text-black fw-bold" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Admin
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1); transform: msFilter">
            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
          </svg>
        </a>
        <ul class="dropdown-menu menuperfil dropdown-menu-end" >
          <li><a class="dropdown-item seleccionado" href="/create-new">Gestionar noticias</a></li>
          <li><a class="dropdown-item seleccionado" href="/validations">Validar eventos</a></li>
          <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Salir</a></li>
        </ul>
      </div>
      } @else {
  
      @if (isLogged === false) {
      <div class="">
        <a href="/login" class="btn btn-outline-primary me-1 btn-izquierda">Iniciar sesion</a>
        <a href="/register" class="btn btn-primary btn-derecha">Registrarse</a>
      </div> }
  
      @else {
        
      <div class="dropdown gap-2 profile">
        <a href="#" class="d-flex  align-items-center gap-1" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="/assets/images/montana.jpg" class="rounded-circle img-perfil" alt="Imagen de perfil" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1); transform: msFilter">
            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
          </svg>
        </a>
        <ul class="dropdown-menu dropdown-menu-end mt-3" >
          <li><a class="dropdown-item seleccionado" href="/create-event">Crear evento</a></li>
          <li><a class="dropdown-item seleccionado" href="/profile">Perfil</a></li>
          <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Cerrar sesión</a></li>
        </ul>
      </div>
      }
      }
      
    </div>
    <div class="navbar-collapse collapse show" id="navbarsExample09" style="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Voluntariados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/news">Noticias</a>
        </li>
        @if (isLogged === true && isAdmin !== true) {
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myevents">Mis eventos</a>
          </li>
        }
      </ul>

      
    </div>
    
  </div>
  
</nav>



<!-- <header>
  <nav class="nav bg-white fixed-top d-flex  align-items-center justify-content-between py-3 px-2"
    style="height: 80px;">
    <a href="/"
      class="">
      <img src="/assets/banner.png" alt="VoluntApp banner" width="180px" />
    </a>
    
    <div class="d-flex align-items-center gap-2">

      <div class="dropdown">

      <a class="bx bx-menu" id="menu-icon" role="button"
      data-bs-toggle="dropdown" aria-expanded="false"></a>

      <ul class="dropdown-menu menuperfil dropdown-menu-end" >
        <li><a href="/" class="dropdown-item seleccionado" href="/create-new">Voluntariados</a></li>
        <li><a class="dropdown-item seleccionado" href="/validations">Validar eventos</a></li>
        <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Salir</a></li>
      </ul>

    </div>

      @if (muestraMenu === true) {

        <div class="menu d-flex flex-column border-top border-primary text-center">
          
            <a href="/" class="text-black menuicon" id="home">Voluntariados</a>
            <a href="/news" class="text-black menuicon" id="search">Noticias</a>

            @if (isLogged === true && isAdmin !== true) {
            
                <a href="/myevents" class="text-black menuicon">Mis eventos</a>
            
              }
        
        </div>
        <ul class="dropdown-menu menuperfil dropdown-menu-end" >
          <li><a href="/" class="dropdown-item seleccionado" href="/create-new">Voluntariados</a></li>
          <li><a class="dropdown-item seleccionado" href="/validations">Validar eventos</a></li>
          <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Salir</a></li>
        </ul>
      }
    
        <nav class="navbar">
    
            <a href="/" class="text-black m-2 fw-bold" id="home">Voluntariados</a>
            <a href="/news" class="text-black m-2 fw-bold" id="search">Noticias</a>

            @if (isLogged === true && isAdmin !== true) {
            
                <a href="/myevents" class="text-black m-2 fw-bold me-5">Mis eventos</a>
            
              }
        
        </nav>
      

    @if (isAdmin === true){
    <div class="dropdown gap-2 profile me-2">
      <a href="#" class="d-flex justify-content-center align-items-center gap-1 text-black fw-bold" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Admin
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="fill: rgba(0, 0, 0, 1); transform: msFilter">
          <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
        </svg>
      </a>
      <ul class="dropdown-menu menuperfil dropdown-menu-end" >
        <li><a class="dropdown-item seleccionado" href="/create-new">Gestionar noticias</a></li>
        <li><a class="dropdown-item seleccionado" href="/validations">Validar eventos</a></li>
        <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Salir</a></li>
      </ul>
    </div>
    } @else {

    @if (isLogged === false) {
    <div class="">
      <a href="/login" class="btn btn-outline-primary me-1 btn-izquierda">Iniciar sesion</a>
      <a href="/register" class="btn btn-primary btn-derecha">Registrarse</a>
    </div> }

    @else {
      
    <div class="dropdown gap-2 profile me-2">
      <a href="#" class="d-flex justify-content-center align-items-center gap-1" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="/assets/images/montana.jpg" class="rounded-circle img-perfil" alt="Imagen de perfil" />
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="fill: rgba(0, 0, 0, 1); transform: msFilter">
          <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
        </svg>
      </a>
      <ul class="dropdown-menu menuperfil dropdown-menu-center menuvertical mt-3 ms-5" >
        <li><a class="dropdown-item seleccionado" href="/create-event">Crear evento</a></li>
        <li><a class="dropdown-item seleccionado" href="/profile">Perfil</a></li>
        <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Cerrar sesión</a></li>
      </ul>
    </div>
    }
    }



  </div>
  </nav>
</header> -->