@import '../../../styles/variables';

.btn-izquierda{
    border-radius: $border-radius 0 0 $border-radius;
    transition: 0.3s linear;
}

.btn-derecha{
    border-radius: 0 $border-radius $border-radius 0;
    transition: 0.3s linear;
}
.img-perfil{
    width: 40px;
    height: 40px;
}

.profile{
    &:hover{
        cursor: pointer;
    }
}

.menuperfil{
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 60px;
}

.filamenu{
    display: fixed;
}

.contenedor{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header.sticky{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar a{
    font-size: 1.1rem;
    color: $black;
    margin-right: 2rem;
    padding: 0.2rem;
    transition: .2s;
    font-weight: bold;
}

.navbar a:hover,
.navbar a.active {
    color: $primary;
}


#menu-icon{
    font-size: 2rem;
    color: $black;
    display: none;

    &:hover{
        cursor: pointer;
    
    }
}

@media (max-width: 850px) {
    #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $white-dark;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 1rem;
        
    }

    #nav-icon{
        display: none;
        font-size: 3rem;
        margin: 3rem 0;
    }

}