<header>
  <nav class="nav bg-white navbar fixed-top d-flex flex-wrap align-items-center justify-content-center py-3 px-2"
    style="height: 80px;">
    <a href="/"
      class="d-flex align-items-center ms-2 me-5 mb-2 mb-lg-0 mb-md-0 mb-sm-0 text-white text-decoration-none">
      <img src="/assets/banner.png" alt="VoluntApp banner" width="140px" />
    </a>
    <ul class="nav col-12 col-lg-auto col-md-auto col-sm-auto me-sm-auto me-md-auto me-lg-auto justify-content-center">
      <li>
        <a href="/" class="nav-link px-3 text-black fw-bold encimaHome">Voluntariados</a>
      </li>
      <li>
        <a href="/news" class="nav-link px-3 text-black fw-bold encimaEventos">Noticias</a>
      </li>
      @if (isLogged === true && isAdmin !== true) {
      <li>
        <a href="/myevents" class="nav-link px-3 text-black fw-bold encimaEventos">Gestión de eventos</a>
      </li>
      }
    </ul>

    @if (isAdmin === true){
    <div class="dropdown gap-2 profile me-2">
      <a href="#" class="d-flex justify-content-center align-items-center gap-1 text-black fw-bold" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Admin
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="fill: rgba(0, 0, 0, 1); transform: msFilter">
          <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
        </svg>
      </a>
      <ul class="dropdown-menu menuperfil dropdown-menu-end" style="top: auto; transform: translate(17px, 25px);">
        <li><a class="dropdown-item seleccionado" href="/createnotice">Crear noticias</a></li>
        <li><a class="dropdown-item seleccionado" href="/validations">Validaciones</a></li>
        <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Salir</a></li>
      </ul>
    </div>
    } @else {

    @if (isLogged === false) {
    <div class="text-end me-2">
      <a href="/login" class="btn btn-outline-primary me-1 btn-izquierda">Iniciar sesion</a>
      <a href="/register" class="btn btn-primary btn-derecha">Registrarse</a>
    </div> }

    @else {

    <div class="text-end me-2">
        <a href="/event-create" class="btn btn-primary me-3 btn-izquierda">Crear evento</a>
    </div>
    <div class="dropdown gap-2 profile me-2">
      <a href="#" class="d-flex justify-content-center align-items-center gap-1" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="/assets/images/montana.jpg" class="rounded-circle img-perfil" alt="Imagen de perfil" />
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="fill: rgba(0, 0, 0, 1); transform: msFilter">
          <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
        </svg>
      </a>
      <ul class="dropdown-menu menuperfil dropdown-menu-end" style="top: auto; transform: translate(10px, 18px);">
        <li><a class="dropdown-item seleccionado" href="/profile">Perfil</a></li>
        <li><a class="dropdown-item seleccionado" (click)="logout()" href="/login">Cerrar sesión</a></li>
      </ul>
    </div>
    }
    }




  </nav>
</header>