@import '../../../styles/variables';

.btn-izquierda{
    border-radius: $border-radius 0 0 $border-radius;
    transition: 0.3s linear;
}

.btn-derecha{
    border-radius: 0 $border-radius $border-radius 0;
    transition: 0.3s linear;
}
.img-perfil{
    width: 40px;
    height: 40px;
}

.profile{
    &:hover{
        cursor: pointer;
    }
}

.menuperfil{
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 60px;
}

.seleccionado{
    &:hover{
        background-color: $white-dark;
        color: $black;
    }
}

.active{
    transition: linear 0.2s all;
    &:hover{
        font-weight: bold;
    }
}