<app-header></app-header>
<main class="d-flex flex-column p-4 gap-4">
    <div class="d-flex justify-content-center">
        <app-news-slider class="w-100"></app-news-slider>
    </div>
    <h1 class="text-start text-white fw-bolder">Sobre nosotros</h1>
    <section class="text-white">
        <h2>¡Bienvenido a VoluntApp!</h2>
        <p>En VoluntApp, creemos firmemente en la construcción de un mundo mejor, impulsado por la solidaridad y la
            acción comunitaria. Nos enorgullece presentar esta plataforma donde tanto instituciones comprometidas como
            personas altruistas pueden unirse para marcar la diferencia a través del voluntariado.</p>

        <p>Nuestra Inspiración
            En el corazón de VoluntApp está la creencia en el poder transformador del voluntariado. Nos inspira la idea
            de que cada pequeña acción puede tener un impacto significativo en la construcción de comunidades más
            fuertes y en la mejora de nuestro entorno.</p>

        <p><span class="fw-bold d-block">¿Cómo Funciona?</span>
            Para Instituciones: Organizaciones no gubernamentales, fundaciones y entidades sin fines de lucro pueden
            proponer eventos de voluntariado, describiendo las actividades específicas que necesitan apoyo. Estamos
            comprometidos a conectar estas instituciones con individuos comprometidos que deseen hacer una diferencia
            real.</p>

        <p>Para Personas Voluntarias: Si eres una persona con ganas de contribuir, ¡te damos la bienvenida! Explora los
            eventos propuestos, elige aquellos que resuenen contigo y regístrate para participar. Juntos, podemos marcar
            la diferencia en áreas que van desde la preservación del medio ambiente hasta el apoyo comunitario.</p>

        <p>Nuestro Compromiso
            En VoluntApp, nos esforzamos por fomentar una cultura de servicio y colaboración. Creemos que el
            voluntariado no solo mejora las vidas de aquellos a quienes ayudamos, sino que también enriquece nuestras
            propias vidas al construir conexiones significativas y cultivar un sentido de propósito compartido.</p>

        <p>Únete a Nosotros
            ¿Estás listo para ser parte de algo más grande? Únete a VoluntApp y sé parte de la comunidad de cambio
            positivo. Explora nuestros eventos de voluntariado, únete a proyectos significativos y contribuye a un mundo
            más solidario y sostenible.</p>

        <p>¡Gracias por ser parte de nuestra misión en VoluntApp, donde cada acto de voluntariado cuenta!</p>

    </section>
</main>
<app-footer></app-footer>