<app-header></app-header>

<main class="container d-flex py-4 flex-column gap-2 text-white align-items-center">
    <div class="d-flex flex-column w-75">
        <div class="border-bottom">
        <h1 class="fw-bold  text-start">Contacto</h1>
        <h2 class="text-start">¿En qué podemos ayudarte?</h2>
        <p class="w-100  text-start">Si tienes cualquier duda sobre algun evento, o sobre apuntarse o crear un evento de
            voluntariado,
            puede contactar con nuestro equipo de administración de las siguientes maneras:</p>
        </div>
        <h2 class="fw-bold mt-4  text-center mb-4">Rellena el formulario para realizar tu consulta</h2>
        <div class="w-100">
            <form>
            <div class="form-floating mb-4 text-black ">
                <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com">
                <label for="floatingInputDisabled">Correo electrónico</label>
            </div>
            <div class="form-floating mb-4 text-black">
                <textarea class="form-control" placeholder="Nombre" id="floatingTextareaDisabled"></textarea>
                <label for="floatingTextareaDisabled">Nombre</label>
            </div>
            <div class="form-floating mb-4 text-black">
                <textarea class="form-control" placeholder="Apellidos" id="floatingTextareaDisabled"></textarea>
                <label for="floatingTextareaDisabled">Apellidos</label>
            </div>
            <div class="form-floating mb-4 text-black">
                <textarea class="form-control" placeholder="Deja aquí tu consulta" id="floatingTextarea2Disabled"
                    style="height: 125px"></textarea>
                <label for="floatingTextarea2Disabled">Deja aquí tu consulta</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
        </div>
    </div>

</main>

<app-footer></app-footer>