@import "../../../../styles/variables";

main {
    min-height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
        "area1 area3"
        "area2 area3";
}

.area1 {
    grid-area: area1;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.area2 {
    grid-area: area2;
}

.area3 {
    grid-area: area3;
}

p {
    margin: 0;
}