<app-header></app-header>
<main class="container p-4 text-white">
    <h1 class="fw-bold d-flex align-items-center gap-3">{{event.titulo}}<span
            class="badge bg-secondary-dark fs-5">{{event.numVoluntarios}}
            🙋‍♂️</span>
        @if(event.estado=='revision') {
        <span class="badge bg-error-light fs-5">En revisión</span>
        } @else if (event.estado == 'finalizado') {
        <span class="badge bg-error-light fs-5">Finalizado</span>
        }
    </h1>
    <section class="grid-container">
        <div class="area1">
            <img class="rounded w-100" [src]="event.imagen" alt="">
        </div>
        <div class="area2">
            @if (event.ubicacion) {
            <app-map [lat]="event.ubicacion.lat" [lon]="event.ubicacion.lon"></app-map>
            }
        </div>
        <div class="area3 d-flex flex-column justify-content-between">
            <article class="d-flex flex-column gap-3">
                <section>
                    <h2 class="fw-semibold">Descripción</h2>
                    <p>{{event.descripcion}}</p>
                </section>
                <section>
                    <h2 class="fw-semibold">Información</h2>
                    <span class="d-block">📅 Inicia el <b>{{event.finicio | date: 'dd/MM/yyyy'}}</b> a las
                        <b>{{event.finicio | date: 'shortTime'}}</b></span>
                    <span class="d-block">📅 Acaba el <b>{{event.ffin| date: 'dd/MM/yyyy'}}</b> a las
                        <b>{{event.ffin | date: 'shortTime'}}</b></span>
                    <span class="d-block">🙌 Se necesitan <b>{{event.maxVoluntarios}} voluntarios</b></span>
                </section>
                <section>
                    <h2 class="fw-semibold">Organizador</h2>
                    <span class="d-block">👤 {{event.creadoPorUsuario || event.creadoPorInstitucion}}</span>
                </section>
                <section>
                    <h2 class="fw-semibold">Ubicación</h2>
                    @if (event.ubicacion) {
                    <span class="d-block">📍 {{event.ubicacion.nombre}}</span>
                    }
                </section>
            </article>
            @if (isAdmin) {
            @if (event.estado === 'revision') {
            <div class="d-flex align-items-center gap-2">
                <button (click)="acceptEvent()" class="btn bg-success-dark text-white w-50">Aprobar</button>
                <button (click)="declineEvent()" class="btn bg-error-dark text-white w-50">Rechazar</button>
            </div>
            }
            @else if(event.estado=='en-eliminacion'){
            <div class="d-flex align-items-center gap-2">
                <button (click)="declineElimination()" class="btn bg-success-dark text-white w-100">Mantener</button>
                <button (click)="acceptElimination()" class="btn bg-error-dark text-white w-100">Eliminar</button>
            </div>
            }

            } @else {
                @if (isLogged) {
                    @if (isUserInEvent) {
                        @if (isCreator && tipo == "Usuario" || tipo == "Admin") {
                            @if (event.estado === 'disponible' ) {
                                <button (click)="requestEventElimination()" class="btn bg-error-dark text-white w-100">Solicitar eliminación</button>
                            } @else if (event.estado === 'revision') {
                                <button (click)="deleteEvent()" class="btn bg-error-dark text-white w-100">Eliminar</button>
                            }
                        } @else if (tipo == "Usuario" && isUserInEvent) {
                            <button (click)="removeUserFromEvent()" class="btn bg-error-light text-white w-100">Desapuntarse</button>
                        }
                    }  @else if (tipo == "Usuario") {
                        <button (click)="addUserToEvent()" class="btn bg-secondary text-white w-100">Apúntate</button>
                    } 

                    @if (isInstitucionInEvent) {
                        @if (isCreator && tipo == "Institucion" || tipo == "Admin") {
                            @if (event.estado === 'disponible' ) {
                                <button (click)="requestEventElimination()" class="btn bg-error-dark text-white w-100">Solicitar eliminación</button>
                            } @else if (event.estado === 'revision') {
                                <button (click)="deleteEvent()" class="btn bg-error-dark text-white w-100">Eliminar</button>
                            }
                        } @else if (tipo == "Institucion" && isInstitucionInEvent) {
                            <button (click)="removeInstitucionFromEvent()" class="btn bg-error-light text-white w-100">Dejar de apoyar</button>
                        } 
                    } @else if (tipo == "Institucion") {
                        <button (click)="addInstitucionToEvent()" class="btn bg-secondary text-white w-100">Apoyar Evento</button>
                    } 
                } @else {
                    <a href="/login" class="btn bg-secondary text-white w-100">Inicia sesión para apuntarte</a>
                }
            }
        </div>
    </section>
</main>
@if (showAlert) {
    <div class="modal fade show d-block" id="alertModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">
                        @if (createdSuccessfully === true && desapuntarseUsuario === false && desapuntarseInstitucion === false) {
                        ¡Enhorabuena! 🎉
                        } @else if (desapuntarseUsuario === true && desapuntarseInstitucion === false) {
                            Te has desapuntado del evento 😞
                        } @else if (desapuntarseInstitucion === true && desapuntarseUsuario === false) {
                            Has dejado de apoyar al evento 😞
                        } @else if (createdSuccessfully === false){
                            Error al unirte al evento ❌
                        }
                    </h1>
                    <button (click)="closeAlert()" type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (createdSuccessfully === true && desapuntarseUsuario === false && desapuntarseInstitucion === false) {
                    Te has unido al evento correctamente.
                    }@else if (desapuntarseUsuario === true && desapuntarseInstitucion === false) {
                    Has dejado de formar parte del evento correctamente.
                    }@else if (desapuntarseUsuario === false && desapuntarseInstitucion === true) {
                    Has dejado de formar parte del evento correctamente.
                    } @else if (createdSuccessfully === false) {
                    {{errorMessage}}
                    }
                </div>
                <div class="modal-footer">
                    <button (click)="closeAlert()" type="button" class="btn btn-error-light">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    }
<app-footer></app-footer>