<app-header></app-header>
<main class="container p-4 text-white">
    <h1 class="fw-bold d-flex align-items-center gap-3">{{event.titulo}}<span
            class="badge bg-secondary-dark fs-5">{{event.numVoluntarios}}
            🙋‍♂️</span></h1>
    <section class="grid-container">
        <div class="area1">
            <img class="rounded w-100" [src]="event.imagen" alt="">
        </div>
        <div class="area2">
            @if (event.ubicacion) {
            <app-map [lat]="event.ubicacion.lat" [lon]="event.ubicacion.lon"></app-map>
            }
        </div>
        <div class="area3 d-flex flex-column justify-content-between">
            <article class="d-flex flex-column gap-3">
                <section>
                    <h2 class="fw-semibold">Descripción</h2>
                    <p>{{event.descripcion}}</p>
                </section>
                <section>
                    <h2 class="fw-semibold">Información</h2>
                    <span class="d-block">📅 Inicia el <b>{{event.finicio | date: 'dd/MM/yyyy'}}</b> a las
                        <b>{{event.finicio | date: 'shortTime'}}</b></span>
                    <span class="d-block">📅 Acaba el <b>{{event.finicio | date: 'dd/MM/yyyy'}}</b> a las
                        <b>{{event.ffin | date: 'shortTime'}}</b></span>
                    <span class="d-block">🙌 Se necesitan <b>{{event.maxVoluntarios}} voluntarios</b></span>
                </section>
                <section>
                    <h2 class="fw-semibold">Organizador</h2>
                    <span class="d-block">👤 {{event.creadoPorUsuario || event.creadoPorInstitucion}}</span>
                </section>
                <section>
                    <h2 class="fw-semibold">Ubicación</h2>
                    @if (event.ubicacion) {
                    <span class="d-block">📍 {{event.ubicacion.nombre}}</span>
                    }
                </section>
            </article>
            @if (isAdmin && event.estado === 'Revisión') {
            <div class="d-flex align-items-center gap-2">
                <button class="btn bg-success-dark text-white w-50">Aprobar</button>
                <button class="btn bg-error-dark text-white w-50">Rechazar</button>
            </div>
            } @else {
            @if (isUserInEvent) {
                @if (isUserCreator) {
                <button class="btn bg-error-dark text-white w-100">Solicitar eliminación</button>
            }   @else {
                <button (click)="removeUserFromEvent()" class="btn bg-error-light text-white w-100">Desapuntarse</button>
                }
            } @else {
            <button (click)="addUserToEvent()" class="btn bg-secondary text-white w-100">Apúntate</button>
            }
            }
        </div>
    </section>
</main>
<app-footer></app-footer>