<app-header></app-header>

<main class="container gap-2 text-white">
  <div class="row">
    <div class="d-flex flex-column w-100">
      <h2 class="fw-bold mt-4 mb-4">Crear noticia</h2>
      <div class="w-100">
        <form [formGroup]="newsForm" class="form" (submit)="submitNew()">
          <div class="form-floating mb-4 text-black">
            <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="Titulo de noticia"
              required />
            <label for="noticia">Titulo de noticia</label>
          </div>
          <div class="formFile mb-4 text-black text-center">
            <input (change)="onFileSelected($event)" type="file" accept="image/png, image/jpg, image/jpeg, image/webp" formControlName="imagen"
              class="form-control py-3" id="formFile" />
          </div>
          <div class="form-floating mb-4 text-black">
            <textarea class="form-control" formControlName="contenido" placeholder="Contenido" id="consulta"
              style="min-height: 125px"></textarea>
            <label for="consulta">Contenido</label>
          </div>
          <button type="submit" class="btn btn-primary w-100">
            Crear noticia
          </button>
        </form>
      </div>
    </div>
  </div>

  <h2 class="fw-bold mt-4 mb-4">Lista de Noticias</h2>
  @if (newsMostrar.length !== 0) {
  <div class="d-flex flex-column w-100">
    @for (new of newsMostrar; track new.id) {
    <article>
      <h3 class="fw-semibold">{{new.titulo}}</h3>
      <div class="d-flex justify-content-center">
        <img [src]="new.imagen" class="noticia-img rounded mb-3">
      </div>
      <p>{{new.contenido}}</p>
      <footer class="d-flex justify-content-end gap-2 fw-medium"><b>{{new.autor}}</b>- {{new.fecha| date: 'dd/MM/yyyy'}}
      </footer>
      <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-primary" type="submit" (click)="editNews(new.id)">Editar</button>
        <button class="btn btn-error-dark" (click)="deleteNews(new.id)">Eliminar</button>

      </div>
      <!-- Mostrar el formulario de edición si se está editando -->
      @if (isEditing) {
      <h2 class="fw-bold mt-4 mb-4">Editar noticia</h2>
      <div class="d-flex align-items-center">
        <form [formGroup]="newsForm" class="form w-100" (submit)="submitEdit()">
          <div class="form-floating mb-4 text-black">
            <input type="text" class="form-control" id="titulo" formControlName="titulo"
              placeholder="Titulo de noticia" />
            <label for="noticia">Titulo de noticia</label>
          </div>
          <div class="formFile mb-4 text-black text-center">
            <input type="file" formControlName="imagen" class="form-control py-3" id="formFile" />
          </div>
          <div class="form-floating mb-4 text-black">
            <textarea class="form-control" formControlName="contenido" placeholder="Contenido" id="consulta"
              style="min-height: 125px"></textarea>
            <label for="consulta">Contenido</label>
          </div>
          <div class="d-flex justify-content-end align-items-center gap-2">
            <button type="button" class="btn btn-error-dark" (click)="cancelEdit()">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
      }
    </article>
    }
  </div>
  }
  @else{
  <h3 class="fw-bold mt-4 mb-4">No hay noticias</h3>
  }

</main>
<app-footer></app-footer>