@import '../../../styles/variables';

main {
    margin-top: 0;
}

.margen {
    margin-top: 5rem;
}

.imagenbanner{
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

.img-perfil{
    width: 180px;
    height: 180px;
    border: 10px solid $background-top;
}

.sombras{
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
}

main{
    cursor: default;
}

 is-invalid {
    border: 1px solid red;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}