<app-header></app-header>
<main class="text-white">
  <div class="d-flex flex-column align-items-center">
    <img src="/assets/images/bannerprofile.jpg" class="img-fluid imagenbanner" alt="VoluntApp banner" />
    <div class="editarperfil text-center d-flex align-items-center flex-column">
      <img src="/assets/images/montana.jpg" class="rounded-circle img-perfil"
        style="position: absolute; transform: translateY(-70%);" alt="Imagen de perfil" />
      <p class="overlay">✏️</p>
    </div>
  </div>
  <div class="align-items-center d-flex flex-column text-white gap-3 margen">
    <h1 class="text-center sombras fw-bold">{{user.nombre}} {{user.apellidos}}</h1>
    <div class="row">
      <div class="col-lg-auto">
        <h5 class="text-center text-primary fw-bold">{{eventosPerfil.creados}}</h5>
        <h5 class="text-center">Eventos Creados</h5>
      </div>
      <div class="col-lg-auto">
        <h5 class="text-center text-primary fw-bold">{{eventosPerfil.apuntados}}</h5>
        <h5 class="text-center">Eventos Apuntados</h5>
      </div>
      <div class="col-lg-auto">
        <h5 class="text-center text-primary fw-bold">{{eventosPerfil.realizados}}</h5>
        <h5 class="text-center">Eventos Realizados</h5>
      </div>
    </div>
    
    <button (click)="mostrarContenedor()" class="btn btn-primary btn-block">
      Editar perfil
    </button>
  </div>
  @if (editarperfil) {
  <div class="container py-5">
    <form class="row g-3 form" [formGroup]="profileForm" (submit)="submitEditar()">
      <div class="col-lg-4">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder={{user.nombre}} formControlName="nombre"/>
      </div>
      <div class="col-lg-4">
        <label for="inputPassword4" class="form-label">Apellidos</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder={{user.apellidos}} formControlName="apellidos"/>
      </div>
      <div class="col-lg-4">
        <label for="inputAddress2" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder={{user.telefono}} formControlName="telefono" minlength="9" maxlength="9" pattern="[0-9]*"
        [ngClass]="{'is-invalid': profileForm.get('telefono')?.invalid && (profileForm.get('telefono')?.touched || profileForm.get('telefono')?.dirty)}">
            <span *ngIf="profileForm.get('telefono')?.invalid && (profileForm.get('telefono')?.touched || profileForm.get('telefono')?.dirty)" class="invalid-feedback">
                Introduce un teléfono válido.
            </span>
      </div>
      <div class="col-lg-6">
        <label for="inputAddress" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="inputAddress" placeholder={{user.email}} formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
        [ngClass]="{'is-invalid': profileForm.get('email')?.invalid && (profileForm.get('email')?.touched || profileForm.get('email')?.dirty)}">
            <span *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.touched || profileForm.get('email')?.dirty)" class="invalid-feedback">
                Introduce un correo electrónico válido.
            </span>
      </div>
      <div class="col-lg-6">
        <label for="inputAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputAddress" placeholder={{user.direccion}} formControlName="direccion"/>
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary w-100" [disabled]="profileForm.invalid">Guardar cambios</button>
      </div>
    </form>
  </div>
  }
</main>
<app-footer></app-footer>