<app-header></app-header>
<main class="">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white fw-bolder"> Gestión De Eventos</h1>
    </div>
    <div class="d-flex justify-content-around gap-4 mx-4 mb-5">
            <div class="row row-cols-1 row-cols-sm-2 g-3">
                @for (event of events; track event.id) {
                    <div class="col">
                    <app-event-card  [management]="true" [image]="event.image" [title]="event.title" [startDate]="event.startDate" [endDate]="event.endDate" [location]="event.location" [volunteers]="event.volunteers" [createdBy]="userExample"></app-event-card>
                    </div>
                  }
            </div>
        </div>

</main>
<app-footer></app-footer>