<app-header></app-header>
<main class="container text-white py-4">
    <h1 class="fw-bold">Gestión de eventos</h1>

    <div class="d-flex justify-content-around gap-4"> <!-- Solo si el usuario tiene eventos  -->
        <div class="row row-cols-1 row-cols-sm-2 g-3">
            @for (event of events; track event.id) {
            <div class="col">
                <app-event-card [id]="event.id" [image]="event.imagen" [title]="event.titulo"
                    [startDate]="event.finicio" [endDate]="event.ffin" [location]="event.ubicacion.nombre"
                    [createdByUser]="event.creadoPorUsuario"></app-event-card>
            </div>
            }
        </div>
    </div>
</main>
<app-footer></app-footer>