<div class="px-4 py-5 my-5 fondo">
    <div class="margenes">
        <h1 class="display-5 fw-bold text-body-emphasis">¡Creemos un futuro solidario!</h1>
        <div class="col-lg-6 texto">
            <p class="lead mb-4"> Creemos en el poder de trabajar juntos para lograr un cambio significativo. Fomentamos la colaboración entre individuos, organizaciones y comunidades para abordar desafíos sociales de manera efectiva.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center ">
                <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="#inicio">Voluntariados</a>
            </div>
        </div>
    </div>

</div>