<main class="d-flex flex-col vh-100 justify-content-center align-items-center">
    <div class="login-card">
        <div class="top">
            <img src="/assets/banner.png" alt="VoluntApp banner">
        </div>
        <form [formGroup]="form" class="form" (submit)="crearUsuario()">
            @if (pagina === 1) {
            <header class="d-flex justify-content-between">
                <h1>Regístrate</h1>
                <ul class="paginas">
                    <a class="select" (click)="primeraPagina()">1</a>
                    <a (click)="segundaPagina()">2</a>
                    <a (click)="terceraPagina()">3</a>
                </ul>
            </header>
            <select (change)="cambiarform(opcion.value)" #opcion>
                <option value="voluntario" [selected]="!institucion">Voluntario</option>
                <option value="institucion" [selected]="institucion">Institucion</option>
            </select>

            @if (institucion === true) {
            <input type="text" placeholder="Nombre a mostrar" required>
            <input type="text" placeholder="Nombre legal" required>
            } @else {
            <input type="text" formControlName="nombre" placeholder="Nombre" required>
            <input type="text" formControlName="apellidos" placeholder="Apellidos" required>
            }
            <div class="d-flex gap-2 mt-auto">
                <button class="px-4 btn btn-outline-primary" (click)="back()">←</button>
                <button class="w-100" (click)="siguientePagina()">Siguiente</button>
            </div>
            }

            @if (pagina === 2) {
            <header class="d-flex justify-content-between">
                <h1>Regístrate</h1>
                <ul class="paginas">
                    <a (click)="primeraPagina()">1</a>
                    <a class="select" (click)="segundaPagina()">2</a>
                    <a (click)="terceraPagina()">3</a>
                </ul>
            </header>
            @if (institucion === true) {
            <input type="text" placeholder="CIF institución">
            <input type="text" placeholder="Nombre de la persona a cargo">
            <input type="text" placeholder="Teléfono de la persona a cargo">
            } @else {
            <input type="text" formControlName="dni" placeholder="DNI">
            <input type="text" formControlName="telefono" placeholder="Teléfono">
            <input type="text" formControlName="direccion" placeholder="Dirección">
            }
            <div class="d-flex gap-2 mt-auto">
                <button class="px-4 btn btn-outline-primary" (click)="anteriorPagina()">←</button>
                <button class="w-100" (click)="siguientePagina()">Siguiente</button>
            </div>

            }
            @if (pagina === 3) {
            <header class="d-flex justify-content-between">
                <h1>Regístrate</h1>
                <ul class="paginas">
                    <a (click)="primeraPagina()">1</a>
                    <a (click)="segundaPagina()">2</a>
                    <a class="select" (click)="terceraPagina()">3</a>
                </ul>
            </header>
            <input type="text" formControlName="email" placeholder="Correo electrónico">
            <input type="password" formControlName="contraseña" placeholder="Contraseña">
            <input type="password" placeholder="Repetir contraseña">
            <div class="d-flex gap-2 mt-auto">
                <button class="px-4 btn btn-outline-primary" (click)="anteriorPagina()">←</button>
                <button class="w-100" type="submit">Registrarse</button>
            </div>
            }
        </form>
    </div>
</main>