@import '../../../styles/variables';

main {
    margin-top: 0;
    margin-bottom: 0;
}

.login-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    height: 25rem;
    border-radius: $border-radius-xl;
    background-color: $white-light;
    padding: 2rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 14rem;
        }
    }
    
    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 0.5rem;

        .paginas {
            display: flex;
            gap: .75rem;
            list-style: none;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $primary;
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                font-size: smaller;
                color: $primary-light;
                text-decoration: none;
            }

            a:hover{
                background-color: $primary-light;
                color: white;
                cursor: pointer;
            }

            .select{
                background-color: $primary;
                color: white;
            }
        }

        h1 {
            font-size: 20px;
            font-weight: bold;
        }

        select{
            padding: 0.5rem 1rem;
            font-size: 14px;
            border: 1px solid $primary-light;
            border-radius: $border-radius;
            color: $black-light	;

            &:focus {
                border: 1px solid $secondary-light;
                outline: none;
            }
        }

        input {
            padding: 0.5rem 1rem;
            font-size: 14px;
            border: 1px solid $primary-light;
            border-radius: $border-radius;

            &:focus {
                border: 1px solid $secondary-light;
                outline: none;
            }
        }

        

        button {
           border: none;
           border-radius: $border-radius;
           background-color: $primary;
           padding: .5rem 0rem;
           color: $white-light;
           transition: all 0.2s linear;

              &:hover {
                background-color: $primary-dark;
              }	
        }
    }
}