<main class="d-flex flex-col vh-100 justify-content-center align-items-center">
    <div class="login-card">
        <div class="top">
            <img src="/assets/banner.png" alt="VoluntApp banner">
        </div>
        <form [formGroup]="institucion ? formInstitucion : formUsuario" class="form" (submit)="handleSubmit()">
            @if (pagina === 1) {
            <header class="d-flex justify-content-between">
                <h1>Regístrate</h1>
                <ul class="paginas">
                    <a class="select" (click)="primeraPagina()">1</a>
                    <a (click)="segundaPagina()">2</a>
                    <a (click)="terceraPagina()">3</a>
                </ul>
            </header>
            <select (change)="cambiarform(opcion.value)" #opcion>
                <option value="voluntario" [selected]="!institucion">Voluntario</option>
                <option value="institucion" [selected]="institucion">Institucion</option>
            </select>

            @if (institucion === true) {
            <input type="text" placeholder="Nombre a mostrar" formControlName="nombre"
            [ngClass]="{'is-invalid': formInstitucion.get('nombre')?.invalid && (formInstitucion.get('nombre')?.touched || formInstitucion.get('nombre')?.dirty)}">
            <span *ngIf="formInstitucion.get('nombre')?.invalid && (formInstitucion.get('nombre')?.touched || formInstitucion.get('nombre')?.dirty)" class="invalid-feedback">
                Este campo no puede estar en blanco.
            </span>
            <input type="text" placeholder="Nombre legal" formControlName="nombreLegal"
            [ngClass]="{'is-invalid': formInstitucion.get('nombreLegal')?.invalid && (formInstitucion.get('nombreLegal')?.touched || formInstitucion.get('nombreLegal')?.dirty)}">
            <span *ngIf="formInstitucion.get('nombreLegal')?.invalid && (formInstitucion.get('nombreLegal')?.touched || formInstitucion.get('nombreLegal')?.dirty)" class="invalid-feedback">
                Este campo no puede estar en blanco.
            </span>
            } @else {
            <input type="text" formControlName="nombre" placeholder="Nombre" required>
            <input type="text" formControlName="apellidos" placeholder="Apellidos" required>
            }
            <div class="d-flex gap-2 mt-auto">
                <button class="px-4 btn btn-outline-primary" (click)="back()">←</button>
                <button class="w-100" (click)="siguientePagina()">Siguiente</button>
            </div>
            }

            @if (pagina === 2) {
            <header class="d-flex justify-content-between">
                <h1>Regístrate</h1>
                <ul class="paginas">
                    <a (click)="primeraPagina()">1</a>
                    <a class="select" (click)="segundaPagina()">2</a>
                    <a (click)="terceraPagina()">3</a>
                </ul>
            </header>
            @if (institucion === true) {
            <input type="text" placeholder="CIF institución" formControlName="cif" maxlength="9"
            [ngClass]="{'is-invalid': formInstitucion.get('cif')?.invalid && (formInstitucion.get('cif')?.touched || formInstitucion.get('cif')?.dirty)}">
            <span *ngIf="formInstitucion.get('cif')?.invalid && (formInstitucion.get('cif')?.touched || formInstitucion.get('cif')?.dirty)" class="invalid-feedback">
                El CIF debe tener un formato válido.
            </span>
            <input type="text" placeholder="Nombre de la persona a cargo" formControlName="personaCargo"
            [ngClass]="{'is-invalid': formInstitucion.get('personaCargo')?.invalid && (formInstitucion.get('personaCargo')?.touched || formInstitucion.get('personaCargo')?.dirty)}">
            <span *ngIf="formInstitucion.get('personaCargo')?.invalid && (formInstitucion.get('personaCargo')?.touched || formInstitucion.get('personaCargo')?.dirty)" class="invalid-feedback">
                Este campo no puede estar vacío.
            </span>
            <input type="text" placeholder="Teléfono de la persona a cargo" formControlName="telefono"
            [ngClass]="{'is-invalid': formInstitucion.get('telefono')?.invalid && (formInstitucion.get('telefono')?.touched || formInstitucion.get('telefono')?.dirty)}">
            <span *ngIf="formInstitucion.get('telefono')?.invalid && (formInstitucion.get('telefono')?.touched || formInstitucion.get('telefono')?.dirty)" class="invalid-feedback">
                Este campo no puede estar vacío.
            </span>
            } @else {
            <input type="text" formControlName="dni" placeholder="DNI">
            <input type="text" formControlName="telefono" placeholder="Teléfono">
            <input type="text" formControlName="direccion" placeholder="Dirección">
            }
            <div class="d-flex gap-2 mt-auto">
                <button class="px-4 btn btn-outline-primary" (click)="anteriorPagina()">←</button>
                <button class="w-100" (click)="siguientePagina()">Siguiente</button>
            </div>

            }
            @if (pagina === 3) {
            <header class="d-flex justify-content-between">
                <h1>Regístrate</h1>
                <ul class="paginas">
                    <a (click)="primeraPagina()">1</a>
                    <a (click)="segundaPagina()">2</a>
                    <a class="select" (click)="terceraPagina()">3</a>
                </ul>
            </header>
            @if (institucion === true) {
            <input type="email" placeholder="email" formControlName="email"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
            [ngClass]="{'is-invalid': formInstitucion.get('email')?.invalid && (formInstitucion.get('email')?.touched || formInstitucion.get('email')?.dirty)}">
            <span *ngIf="formInstitucion.get('email')?.invalid && (formInstitucion.get('email')?.touched || formInstitucion.get('email')?.dirty)" class="invalid-feedback">
                Introduce un correo electrónico válido.
            </span>
            <input type="password" placeholder="Contraseña" formControlName="contraseña" (input)="validarConfirmacion()"
            [ngClass]="{'is-invalid': formInstitucion.get('contraseña')?.invalid && (formInstitucion.get('contraseña')?.touched || formInstitucion.get('contraseña')?.dirty)}">
            <span *ngIf="formInstitucion.get('contraseña')?.invalid && (formInstitucion.get('contraseña')?.touched || formInstitucion.get('contraseña')?.dirty)" class="invalid-feedback">
                Este campo no puede estar vacío.
            </span>
            <input type="password" placeholder="Confirmar contraseña" 
            [ngClass]="{'is-invalid': contrasenaConfirmadaInvalida}" (input)="validarConfirmacion()" (blur)="validarConfirmacion()" required>
            <span *ngIf="contrasenaConfirmadaInvalida && formInstitucion.get('contraseña')?.touched" class="invalid-feedback">
                Las contraseñas no coinciden.
            </span>
            } @else {
            <input type="text" formControlName="email" placeholder="Correo electrónico">
            <input type="password" formControlName="contraseña" placeholder="Contraseña">
            <input type="password" placeholder="Repetir contraseña">
            }
            <div class="d-flex gap-2 mt-auto">
                <button class="px-4 btn btn-outline-primary" (click)="anteriorPagina()">←</button>
                <button class="w-100" type="submit"  [disabled]="formInstitucion.invalid && formUsuario.invalid || contrasenaConfirmadaInvalida == true" class="btn btn-secondary derecha">Registrarse</button>
            </div>
            }
        </form>
    </div>
</main>