<app-header></app-header>
<main class="container">
    <div class="card w-50 mx-auto">
        <div class="card-header">
            <h1 class="text-primary">Añadir evento</h1>
        </div>
        <form [formGroup]="form" class="form" (submit)="addEvent()">
            <div class="card-body p-5">
                <div class="d-grid">
                    <label for="titulo">Nombre del evento: </label>
                    <input type="text" placeholder=" Titulo" name="titulo"  formControlName="titulo" class="rounded" required>
                </div>
                <div class="d-grid">
                    <label for="descripcion">Descripción del evento: </label>
                    <textarea rows="6" cols="30" placeholder=" Descripción..." name="descripcion"  formControlName="descripcion" class="rounded" required></textarea>
                </div>
                <div class="d-grid">
                    <label for="ubicación">Ubicación del evento: </label>
                    <app-input-location></app-input-location>
                </div>
                <div class="d-flex">
                    <div class="d-grid w-100">
                        <label for="finicio">Fecha de Inicio: </label>
                        <input type="date" name="finicio" formControlName="finicio" class="rounded" required>
                    </div>
                    <div class="d-grid w-100">
                        <label for="ffin">Fecha de Fin: </label>
                        <input type="date" name="ffin" formControlName="ffin" class="rounded" required>
                    </div>
                </div>
                
                <div class="d-grid">
                    <label>Máximo de Voluntarios: </label>
                    <input type="number" min="10" name="maxVoluntarios"  formControlName="maxVoluntarios" class="rounded" required>
                </div>
                
                <input type="hidden" placeholder=" Nombre del creador" name="estado"  formControlName="estado" class="rounded">

            </div>
            <div class="card-footer text-end">
                <button class="btn btn-secondary">Crear</button>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>