<app-header></app-header>
<main class="d-flex flex-column p-4 gap-4">
    <div class="news">
        <h1 class="text-start text-white fw-bolder">Noticias</h1>
    </div>
    <section class="text-white">
    <h2>Recogida de cacas</h2>
    <div class="d-flex justify-content-center">
        <img src="../../assets/images/bosque.jpg" class="noticia-img rounded mb-3">
    </div>
        <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae ipsam fugit accusamus, enim
            ipsum numquam nemo dignissimos fugiat in sequi! Dolor nostrum fuga repudiandae est! Vero sequi pariatur
            temporibus inventore!
            Accusamus cumque quo rerum sint totam incidunt eos! Dolores, dolorem, veniam eum minima praesentium officia
            culpa consectetur iste voluptates commodi eligendi assumenda numquam explicabo earum quam beatae temporibus
            facere odio.
            Magnam repudiandae beatae autem optio cum dignissimos quisquam reprehenderit. Explicabo sit eum totam fugiat
            autem ex voluptates, iste soluta, suscipit dolorem molestias nobis quas voluptatibus! Suscipit laborum
            recusandae perspiciatis sed!
            Fugiat a repudiandae voluptatem neque quia architecto vel quibusdam unde non perspiciatis quidem culpa
            ipsum, deleniti et ipsam explicabo inventore? Commodi, inventore eius. Nihil veritatis nostrum ipsa dicta
            laborum ducimus?
        <p>Voluptatem quia repellendus quidem nulla, velit possimus qui maiores voluptas, sint rerum aspernatur. Unde
            minima reprehenderit, minus ipsam qui eveniet alias odio maxime voluptatum blanditiis soluta, voluptas,
            recusandae distinctio nihil.
        </p>
        <p>Eius, sit quos quaerat voluptatibus aspernatur at? Dolores beatae, corporis libero quaerat animi assumenda,
            blanditiis odio est nesciunt aliquid saepe ipsam debitis! Soluta doloribus voluptas libero dolorum modi amet
            earum.
            Obcaecati vitae illo, laudantium, corporis voluptatibus ullam facere aspernatur nisi iure sapiente magnam.
            Ab inventore voluptatum ducimus reiciendis dicta obcaecati reprehenderit, maxime pariatur aspernatur est
            nisi, molestias cupiditate commodi error!</p>
    </section>
    <section class="text-white">
    <h2>Chingo en el rio</h2>
    <div class="d-flex justify-content-center">
        <img src="../../assets/images/rio.jpg" class="noticia-img rounded mb-3">
    </div>
        <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae ipsam fugit accusamus, enim
            ipsum numquam nemo dignissimos fugiat in sequi! Dolor nostrum fuga repudiandae est! Vero sequi pariatur
            temporibus inventore!
            Accusamus cumque quo rerum sint totam incidunt eos! Dolores, dolorem, veniam eum minima praesentium officia
            culpa consectetur iste voluptates commodi eligendi assumenda numquam explicabo earum quam beatae temporibus
            facere odio.
            Magnam repudiandae beatae autem optio cum dignissimos quisquam reprehenderit. Explicabo sit eum totam fugiat
            autem ex voluptates, iste soluta, suscipit dolorem molestias nobis quas voluptatibus! Suscipit laborum
            recusandae perspiciatis sed!
            Fugiat a repudiandae voluptatem neque quia architecto vel quibusdam unde non perspiciatis quidem culpa
            ipsum, deleniti et ipsam explicabo inventore? Commodi, inventore eius. Nihil veritatis nostrum ipsa dicta
            laborum ducimus?
        <p>Voluptatem quia repellendus quidem nulla, velit possimus qui maiores voluptas, sint rerum aspernatur. Unde
            minima reprehenderit, minus ipsam qui eveniet alias odio maxime voluptatum blanditiis soluta, voluptas,
            recusandae distinctio nihil.
        </p>
        <p>Eius, sit quos quaerat voluptatibus aspernatur at? Dolores beatae, corporis libero quaerat animi assumenda,
            blanditiis odio est nesciunt aliquid saepe ipsam debitis! Soluta doloribus voluptas libero dolorum modi amet
            earum.
            Obcaecati vitae illo, laudantium, corporis voluptatibus ullam facere aspernatur nisi iure sapiente magnam.
            Ab inventore voluptatum ducimus reiciendis dicta obcaecati reprehenderit, maxime pariatur aspernatur est
            nisi, molestias cupiditate commodi error!</p>
    </section>
</main>
<app-footer></app-footer>