<app-header></app-header>
<main class="text-white mb-5 mx-5">
    <h1 class="fw-900 fw-bolder">Terminos y condiciones</h1>
    <div>
    <p>Fecha de vigencia: 24/01/2024</p>
    <p>
        Por favor, lee detenidamente estos Términos y Condiciones antes de utilizar la aplicación móvil y plataforma web
        VolutApp (en adelante, "nosotros", "nuestra" o "la aplicación"). Al acceder o utilizar VolutApp, aceptas estar
    </p>
        <ol>
        <li>Uso Aceptable</li>
            <ol>
                <li>Registro: Para aprovechar plenamente los servicios de VolutApp, debes completar el proceso de
                    registro proporcionando información precisa y actualizada. Eres responsable de mantener la
                    confidencialidad de tu cuenta y contraseña.</li>
                <li> Conducta del Usuario: Al utilizar VolutApp, te comprometes a no realizar acciones que puedan dañar,
                    deshabilitar, sobrecargar o perjudicar la plataforma. No debes intentar acceder a áreas no
                    autorizadas o interferir con el buen funcionamiento de la aplicación.</li>
            </ol>
        <li>Voluntariado y Eventos</li>
        <ol>
            <li>Propuestas y Participación: Las instituciones y personas voluntarias son responsables de la veracidad de
                la información proporcionada al proponer o participar en eventos de voluntariado. Nos reservamos el
                derecho de retirar cualquier contenido que considere inapropiado o que viole estos Términos y
                Condiciones.</li>
            <li>Seguridad y Responsabilidad: Los usuarios son responsables de su propia seguridad al participar en
                eventos de voluntariado. VolutApp no se hace responsable de incidentes durante las actividades
                propuestas.</li>
        </ol>
        <li>Propiedad intelectual</li>
        <ol>
            <li>Derechos de Autor: Todos los derechos de propiedad intelectual de la aplicación, su contenido y
                cualquier material relacionado son propiedad exclusiva de VolutApp. No se permite la reproducción,
                distribución o modificación sin autorización.</li>
        </ol>
        <li>Privacidad</li>
        <ol>
            <li>Política de Privacidad: Nuestra política de privacidad describe cómo recopilamos, utilizamos y
                compartimos la información que nos proporcionas. Al utilizar VolutApp, aceptas nuestras prácticas de
                privacidad.</li>
        </ol>
        <li>Modificaciones y Terminación</li>
        <ol>
            <li>Cambios en los Términos: Nos reservamos el derecho de modificar estos Términos y Condiciones en
                cualquier momento. Las modificaciones entrarán en vigencia tan pronto como se publiquen en la
                aplicación.</li>
                <li>Terminación del Servicio: Nos reservamos el derecho de suspender o terminar tu acceso a VolutApp en caso de incumplimiento de estos Términos y Condiciones.</li>
        </ol>
        <li>Ley Aplicable</li>
        <ol>
           <li>Estos Términos y Condiciones se rigen por las leyes del lugar donde opera VolutApp. Cualquier disputa que surja en relación con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales competentes en esa área.</li> 
        </ol>
    </ol>
</div>
</main>
<app-footer></app-footer>