<app-header></app-header>

<main>
  <section class="hero">
  <div class="container-fluid">
    <div class="d-flex flex-row-reverse align-items-center justify-content-center gap">
      <div class="">
        <img src="https://voluntapp.blob.core.windows.net/images/noticias/new3.webp" class="foto" alt="Bootstrap Themes" style="height: 70vh;" loading="lazy">
      </div>
      <div class="text-start">
        <h1 class="fw-bold text-body-emphasis size">Ayuda a crear <br> un futuro solidario</h1>
        <p class="lead"> Creemos en el poder de trabajar juntos para lograr un cambio
          significativo. Fomentamos la colaboración entre individuos,
          organizaciones y comunidades para abordar desafíos sociales de manera
          efectiva.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-outline-primary" href="/about">Sobre nosotros</a>
          <a class="btn btn-primary" href="#voluntariados">Ver voluntariados</a>
        </div>
      </div>
    </div>
  </div>
  </section>

  <div class="separador" id="voluntariados"> </div>

  <section
    
    class="container-fluid px-5 d-flex flex-column align-items-center"
  >
    <div class="w-100">
      <nav class="bg-top d-flex py-3 w-100 gap-3 justify-content-between">
        <div class="dropdown">
          <select
            (change)="orderByTimeOrPeople($event)"
            class="form-select btn btn-primary text-start"
            aria-label="Default select example"
          >
            <option selected value="Popular">Popular</option>
            <option value="reciente">Eventos próximos</option>
            <option value="antiguos">Eventos lejanos</option>
          </select>
        </div>
        <div class="input-group w-50">
          <input
            #seachInput
            class="p-1 form-control shadow-none"
            type="text"
            placeholder="Buscar..."
          />
          <button
            class="btn btn-primary"
            type="button"
            id="btn-buscar"
            (click)="filterEventsBySearch(seachInput.value)"
          >
            Buscar
          </button>
        </div>

        <button type="button" (click)="showFilters()" class="btn btn-primary">
          Filtros
        </button>
      </nav>

      @if (muestraFiltros) {

      <form
        [formGroup]="filtersForm"
        (submit)="applyFilters()"
        class="mb-3 despuescontenedor text-white rounded d-flex gap-3 py-2 align-items-end"
      >
        <div class="form-group">
          <label for="finicio">Inicio</label>
          <input
            formControlName="finicio"
            type="date"
            class="form-control"
            id="finicio"
            [min]="obtenerFechaActual()"
          />
        </div>
        <div class="form-group">
          <label for="ffin">Fin</label>
          @if (filtersForm.get('finicio')?.value == null ) {
          <input
            readonly
            formControlName="ffin"
            type="date"
            class="form-control"
            id="ffin"
            [min]="filtersForm.get('finicio')?.value"
          />
          } @else {
            <input
            formControlName="ffin"
            type="date"
            class="form-control"
            id="ffin"
            [min]="filtersForm.get('finicio')?.value"
          />
          }
        </div>
        <div class="form-group d-block">
          <label for="ubicacion">Ubicación</label>
          <input
            formControlName="ubicacion"
            type="text"
            class="form-control"
            id="ubicacion"
          />
        </div>
        <div class="ms-auto d-flex gap-3">
          <button
            (click)="clearFilters()"
            type="submit"
            class="btn btn-primary h-50"
          >
            Limpiar filtros
          </button>
          <button type="submit" class="btn btn-primary h-50">
            Aplicar filtros
          </button>
        </div>
      </form>

      } @if (events.length !== 0) {
      <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @for (event of events; track event.id) {
        <div class="col">
          <app-event-card
            [image]="event.imagen"
            [id]="event.id"
            [title]="event.titulo"
            [startDate]="event.finicio"
            [endDate]="event.ffin"
            [location]="event.ubicacion.nombre"
            [numVolunteers]="event.numVoluntarios"
            [createdByUser]="event.creadoPorUsuario"
            [createdByInstitution]="event.creadoPorInstitucion"
            [nombreInstituciones]="event.nombreInstituciones"
          ></app-event-card>
        </div>
        }
      </section>
      } @else {
      <h1 class="text-center text-white fw-bold mt-5">
        No hay eventos disponibles
      </h1>
      <h4 class="text-center text-white">
        <a href="/create-event">Crea un evento aquí</a>
      </h4>
      }
    </div>
    @if (events.length !== 0) {
    <nav class="d-flex justify-content-center mt-5">
      <ul class="pagination">
        @if (currentPage === 0) {
        <li class="page-item disabled">
          <a class="page-link">Anterior</a>
        </li>
        } @else {
        <li class="page-item">
          <a (click)="goToPage(currentPage - 1)" class="page-link" href="#"
            >Anterior</a
          >
        </li>
        } @for (page of pages; track $index) { @if ($index === currentPage) {
        <li class="page-item active">
          <a class="page-link" href="#">{{ page }}</a>
        </li>
        } @else {
        <li (click)="goToPage(page - 1)" class="page-item">
          <a class="page-link" href="#">{{ page }}</a>
        </li>
        } } @if (currentPage === pages.length - 1) {
        <li class="page-item disabled">
          <a class="page-link">Siguiente</a>
        </li>
        } @else {
        <li class="page-item">
          <a (click)="goToPage(currentPage + 1)" class="page-link" href="#voluntariados"
            >Siguiente</a
          >
        </li>
        }
      </ul>
    </nav>
    }
  </section>
</main>
<app-footer></app-footer>
