<app-header></app-header>
<main class="container py-4 d-flex flex-column justify-content-center align-items-center">
  <div>
    <app-filters-bar></app-filters-bar>
    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      @for (event of events; track event.id) {
        <div class="col">
          <app-event-card class="sombra" [image]="event.image" [title]="event.title" [startDate]="event.startDate" [endDate]="event.endDate" [location]="event.location" [volunteers]="event.volunteers" [createdBy]="event.createdBy"></app-event-card>
        </div>
      }
    </section>
  </div>
</main>
<app-footer></app-footer>
