<app-header></app-header>
<main class="container py-4 d-flex flex-column align-items-center">

  <div class="w-100">
    <nav class="bg-top d-flex flex-wrap justify-content-between py-3 rounded-top animacion">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reciente
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Popular</a></li>
          <li><a class="dropdown-item" href="#">Mas antiguo</a></li>
        </ul>
      </div>
      <div class="input-group w-50">
        <input #seachInput class="p-1 form-control" type="text" placeholder="Buscar..." aria-label="Buscar..."
          aria-describedby="btn-buscar" />
        <button class="btn btn-primary" type="button" id="btn-buscar"
          (click)="filterEventsBySearch(seachInput.value)">🔎</button>
      </div>

      <button type="button" (click)="showFilters()" class="btn btn-primary">Filtros</button>
    </nav>

    @if (muestraFiltros) {

    <form [formGroup]="fechaForm" (submit)="applyFilters()" class="mb-3 despuescontenedor text-white rounded d-flex gap-3 align-items-end">
      <div>
        <label for="finicio">Inicio</label>
        <input formControlName="finicio" type="datetime-local" class="form-control" id="finicio">
      </div>
      <div>
        <label for="ffin">Fin</label>
        <input formControlName="ffin" type="datetime-local" class="form-control" id="ffin">
      </div>
      <div>
        <label for="ubicacion">Ubicación</label>
        <input type="text" class="form-control" id="ubicacion">
      </div>
      <button type="submit" class="btn btn-primary ms-auto h-50">Aplicar filtros</button>
    </form>

    }

    @if (events.length !== 0) {
    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      @for (event of events; track event.id) {
      <div class="col">
        <app-event-card [image]="event.imagen" [id]="event.id" [title]="event.titulo" [startDate]="event.finicio"
          [endDate]="event.ffin" [location]="event.ubicacion.nombre" [numVolunteers]="event.numVoluntarios"
          [createdByUser]="event.creadoPorUsuario" [createdByInstitution]="event.creadoPorInstitucion"></app-event-card>
      </div>
      }
    </section>
    } @else {
    <h1 class="text-center text-white fw-bold mt-5">No hay eventos disponibles</h1>
    <h4 class="text-center text-white"><a href="/create-event">Crea un evento aquí</a></h4>
    }

  </div>
  @if (events.length !== 0) {
  <nav class="d-flex justify-content-center mt-5">
    <ul class="pagination">
      @if (currentPage === 0) {
      <li class="page-item disabled">
        <a class="page-link">Anterior</a>
      </li>
      } @else {
      <li class="page-item">
        <a (click)="goToPage(currentPage - 1)" class="page-link" href="#">Anterior</a>
      </li>
      }
      @for (page of pages; track $index) {
      @if ($index === currentPage) {
      <li class="page-item active"><a class="page-link" href="#">{{page}}</a></li>
      } @else {
      <li (click)="goToPage(page - 1)" class="page-item"><a class="page-link" href="#">{{page}}</a></li>
      }
      }
      @if (currentPage === pages.length - 1) {
      <li class="page-item disabled">
        <a class="page-link">Siguiente</a>
      </li>
      } @else {
      <li class="page-item">
        <a (click)="goToPage(currentPage + 1)" class="page-link" href="#">Siguiente</a>
      </li>
      }
    </ul>
  </nav>
  }
</main>
<app-footer></app-footer>