<article class="card shadow-sm border-0">
    <img class="bd-placeholder-img card-img-top" [src]="image" alt="">
    <section class="card-body">
        <h1 class="fw-bold fs-4">{{title}}</h1>
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex flex-column">
                <span>📅 {{startDate | date: 'dd/MM/yyyy'}} - {{endDate | date: 'dd/MM/yyyy'}}</span>
                <span>📌 {{location}}</span>
                <span>👤 {{volunteers}}</span>
            </div>
            @if (management) {
                <button class="btn btn-secondary h-50">Ver más</button>
                @if (createdBy?.id == 1) { <!-- Aquí debería ir user?.id cuando se pueda obtener el objeto del usuario logueado -->
                    <button class="btn btn-primary h-50">Eliminar</button>
                } @else {
                    <button class="btn btn-primary h-50">Desapuntarse</button>
                }
            } @else {
                <button class="btn btn-secondary h-50">Apúntate</button>
            }

        </div>
    </section>
</article>