<article class="card shadow-sm border-0">
    @if (nombreInstituciones?.length != 0) {
    <span class="position-absolute bg-secondary w-100 text-white text-center py-1 rounded-top">Apoyado por <b>{{currentInstitution}}</b> 🤝</span>
    }
    <img class="bd-placeholder-img card-img-top" [src]="image" alt="">

    <section class="card-body">
        <h1 class="fw-bold fs-4 rotura">{{title}}</h1>
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex flex-column">
                <span>📅 {{startDate | date: 'dd/MM/yyyy'}} - {{endDate | date: 'dd/MM/yyyy'}}</span>
                <span class="rotura2">📌 {{location}}</span>
                <span>👤 {{numVolunteers}}</span>
            </div>
            <div class="d-flex gap-2">
                <a [href]="'/event/' + id" class="text-white btn btn-secondary h-50">Ver más</a>
            </div>
        </div>
    </section>
</article>