<div class="bg-top d-flex flex-wrap justify-content-between py-3 rounded-top animacion">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Reciente
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Popular</a></li>
      <li><a class="dropdown-item" href="#">Mas antiguo</a></li>
    </ul>
  </div>
  <div class="input-group w-50">
    <input class="p-1 form-control" type="text" placeholder="Buscar..." aria-label="Buscar..."
      aria-describedby="btn-buscar" />
    <button class="btn btn-primary" type="button" id="btn-buscar">🔎</button>
  </div>

  <button type="button" (click)="mostrarContenedor()" class="btn btn-primary">Filtros</button>
</div>

@if (muestraFiltros) {

<div class="p-4 mb-3 rounded-bottom despuescontenedor text-white">
  <div class="row align-items-start">
    <div class="col border-end p-2 me-1">
      <h4 class="fw-bold">Categorias</h4>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> Ayuda humanitaria </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> Deportiva </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> Ambiental </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> Cultural </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> Educativa </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> Social </label>
      </div>

    </div>

    <div class="col p-2 mx-1">
      <h4 class="fw-bold">Instituciones</h4>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> UNICEF </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> CRUZ ROJA </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> ACHALAY </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> CARITAS </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> SAVE THE CHILDREN </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"> ACNUR </label>
      </div>
    </div>

    <div class="col border-start ms-1">
      <h4 class="fw-bold">Fechas</h4>

      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Desde</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Hasta</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>

      <h4 class="fw-bold">Ubicacion</h4>
      <input class="form-control" type="search" placeholder="Buscar ubicacion" />
    </div>
  </div>
</div>

}