<div class="d-flex flex-wrap justify-content-between mb-3">
  <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Reciente
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Popular</a></li>
      <li><a class="dropdown-item" href="#">Mas antiguo</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-primary">Filtros</button>
</div>

<div class="my-2 bg-white p-2">
    <div class="row align-items-start">
      <div class="col">

            <input class="form-control" type="search" placeholder="Buscar" />

            <h4 class="fw-bold">Categorias</h4>

            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault"> Ayuda humanitaria </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault"> Ambiental </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault"> Cultural </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault"> Educativa </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault"> Social </label>
            </div>

        </div>

      <div class="col">
        <h4 class="fw-bold">Instituciones</h4>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault"> UNICEF </label>
          </div>
      
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> CRUZ ROJA </label>
          </div>
          
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> ACHALAY </label>
          </div>
      
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> CARITAS </label>
          </div>
      
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> SAVE THE CHILDREN </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault"> ACNUR </label>
        </div>
      </div>

      <div class="col">
        <h4 class="fw-bold">Fechas</h4>
        <label class="form-label">Desde</label>
        <input class="form-control" type="date" placeholder="" />
        <label class="form-label">Hasta</label>
        <input class="form-control" type="date" placeholder="" />

        <h4 class="fw-bold">Ubicacion</h4>
      </div>
    </div>
</div>
