<app-header></app-header>
<main>
<div class="colocarbanner mb-5">
    <img src="/assets/images/bannerprofile.jpg" class="img-fluid imagenbanner" alt="VoluntApp banner"/>
    <img src="/assets/images/montana.jpg" class="rounded-circle img-perfil" alt="Imagen de perfil" style="position: absolute; left: 50%; transform: translate(-50%, -50%);" />
</div>
<div class="mt-5">
    <h1 class="text-center text-white">Roberto Carlos Martinez</h1>
    <h6 class="text-center mt-3">Nombre y apellidos</h6>
    <div class="numeros">
        <div class="row">
            <div class="col-4">
                <h6 class="text-center mt-3">0</h6>
                <h6 class="text-center mt-3">Eventos creados</h6>
            </div>
            <div class="col-4">
                <h6 class="text-center mt-3">0</h6>
                <h6 class="text-center mt-3">Voluntariados hechos</h6>
            </div>
            <div class="col-4">
                <h6 class="text-center mt-3">0</h6>
                <h6 class="text-center mt-3">Amigos</h6>
            </div>
        </div>
    </div>
</div>
</main>

<app-footer></app-footer>
