<app-header></app-header>
<main class="container-fluid px-5 py-4 flex-column gap-2 text-white ">
    <!-- <h1 class="fw-bold">Noticias</h1>
    @if(news.length > 0) {
    <section class="d-flex flex-column gap-4">
        @for (new of news; track new.id) {
        <article>
            <h2 class="fw-semibold">{{new.titulo}}</h2>
            <div class="d-flex justify-content-center">
                <img [src]="new.imagen" class="noticia-img rounded mb-3">
            </div>
            <p>{{new.contenido}}</p>
            <footer class="d-flex justify-content-end gap-2 fw-medium"><b>{{new.autor}}</b>- {{new.fecha| date:
                'dd/MM/yyyy'}}</footer>
        </article>
        }
    </section>
    }
    @else {
    <h1 class="text-center text-white fw-bold mt-5">No hay noticias</h1>
    } -->
    @if(news.length > 0) {
    @for (new of news; track new.id) {
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="new.imagen" class="img-fluid rounded-start" alt="..." >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{new.titulo}}</h3>
              <p class="card-text">{{new.contenido}}</p>
            </div>
            <div class="card-footer text-end">
                <small class="text-body-secondary"><b>{{new.autor}}</b> - {{new.fecha | date: 'dd/MM/yyyy'}}</small>
            </div>
          </div>
          
        </div>
      </div>
    }} 
    @else {
        <h1 class="text-center text-white fw-bold mt-5">No hay noticias</h1>
        }
</main>
<app-footer></app-footer>