@import '../../../../styles/variables';

p {
    text-wrap: pretty;
    font-size: 12px;
}

.hr-parent {
    border: 5px solid $primary-light;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hr-child {
    border: 2px solid $primary-light;
    width: 100%;
    margin-top: 0px;
}

h3 {
    font-size: 23px;
}

.titulo {
    padding: 1rem;
}

.noticia-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}