@import '../../../../styles/variables';

p {
    text-wrap: pretty;
    font-size: 12px;
}

h3 {
    font-size: 23px;
}

.titulo {
    background-color: $primary;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 20px;
}

.noticia-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}