@import '../../styles/variables.scss';

.grid { 
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;
}