<!--
<article class="card shadow-sm border-0">
    <img class="bd-placeholder-img card-img-top" src="/assets/images/bosque.jpg" alt="">
    <section class="card-body">
        <h1 class="fw-bold fs-4">Recoger mierdas</h1>
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex flex-column">
                <span>📅 29/01/2024 - 05/02/2024</span>
                <span>📌 Alicante, España</span>
                <span>👤 57</span>
            </div>
            <button class="btn btn-secondary h-50">Apúntate</button>
        </div>
    </section>
</article>
-->

<article class="card shadow-sm d-flex flex-row align-items-center">
            <img src="/assets/images/bosque.jpg" class="image-event" alt="">
        <div class="p-1 d-flex flex-row align-items-center">
            <div class="d-flex flex-column align-items-center">
                <div class="">
                    <h2 class="fw-bolder text-center">Limpieza de playas en Alicante</h2>
                </div>
                <div class="">
                    <button class="btn btn-secondary h-50 mx-1">Ver más</button>
                    <button class="btn btn-danger h-50">Despuntarse</button>
                </div>
            </div>
            <div>
                <img src="/assets/images/rio.jpg" class="rounded-circle image-profile" alt="">
            </div>
        </div>
</article>