<article class="card shadow-sm d-flex flex-row align-items-center">
            <img src="/assets/images/bosque.jpg" class="image-event" alt="">
        <div class="p-1 d-flex flex-row align-items-center">
            <div class="d-flex flex-column align-items-center">
                <div class="">
                    <h2 class="fw-bolder text-center">Limpieza de playas en Alicante</h2>
                </div>
                <div class="">
                    <button class="btn btn-secondary h-50 mx-1">Ver más</button>

                    @if(eventoCreado === false){
                        <button class="btn btn-danger h-50">Despuntarse</button>
                    }
                    @else {
                        <button class="btn btn-danger h-50">Eliminar</button>
                    }
                </div>
            </div>
            <div>
                <img src="/assets/images/rio.jpg" class="rounded-circle image-profile" alt="">
            </div>
        </div>
</article>